@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

.add-justify {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.add-btn {
    width: 12em;
    background-color: rgb(7, 141, 219);
    padding: .5em .3em .5em .3em;
    font-size: 17px;
    font-weight: 500;
    border-color: rgb(20, 62, 247);
    border-width: .1em;
    font-family: "Montserrat",sans-serif
}

.add-btn:hover {
    width: 12em;
    background-color: rgb(20, 62, 247);
    padding: .5em .3em .5em .3em;

}