.delete-btn {
    /* display: flex;
    justify-content: center; */
    width: 5em;
    margin-top: .5em;
    background-color: white;
    border:none;
    color: rgb(101, 101, 101);
    font-weight: 500;
    font-size:14px;
    text-decoration-line: underline;
}

.delete-btn:hover {
color:blue;
background-color: white;
border: none;
}
.delete-justify{
    display: flex;
    justify-content: center;
}