.delete-btn {
    width: 7em;
    margin-top: .5em;
    background-color: white;
    border:none;
    color: rgb(101, 101, 101);
    font-weight: 500;
    font-size:14px;
    text-decoration-line: underline;
}

.delete-btn:hover {
color:blue;
background-color: white;
border: none;
}

.delete-justify{
    display: flex;
    justify-content: center;
}

.delete-button {
    background-color: rgb(170, 3, 3);
    border-color: rgb(170, 3, 3);
}

.delete-button:hover {
    background-color: red;
    border-color: rgb(170, 3, 3);
    
}