.edit-btn {
    display: flex;
    justify-content: center;
    width: 15em;
    background-color: rgba(78, 206, 106, 0.904);
    color: black;
    border-color: rgba(78, 206, 106, 0.904);
    font-weight: bold;
}

.edit-btn:hover {
    width: 15em;
    background-color: rgba(139, 255, 164, 0.904);
    padding: .5em .3em .5em .3em;
    color: black;
    border-color: rgba(78, 206, 106, 0.904);


}