@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

.menu-background-image {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../public/assets/images/spices.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
  }

.menu-title {
    background-color: rgba(22, 14, 14, 0.829);
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.menu-h1 {
    color: whitesmoke;
    font-weight: bold;
}

.categoryForm {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    /* margin-top: 2em; */
    font-family: "Montserrat",sans-serif; 

}

select{
    padding: .5em 1em .5em 1em;
    border-radius: 5px;
    margin-top: 1em; 
    
}

